In [2]:
import numpy as np
import pandas as pd

In [3]:
raw_data = pd.read_csv('RawStandingStockReport.csv')

In [4]:
raw_data.head()

,Survey Type,Organization,Date,Survey Year,Country,State,County,Survey ID,MDMAP ID #,Transect ID,...,Cloth/Fabric,Clothing & Shoes,Gloves (non-rubber),Towels/Rags,Rope/Net Pieces (non-nylon),Fabric Pieces,Cloth/Fabric Other,Unclassified,Total,Debris Description
0,Standing-Stock,Clean Virginia Waterways/Longwood University,09-19-2016,Year 3,United States,VA,VA Beach,6072,164,16,...,0,0,0,0,0,0,0,0,4,NaN
1,Standing-Stock,Clean Virginia Waterways/Longwood University,09-19-2016,Year 3,United States,VA,VA Beach,6073,164,17,...,0,0,0,0,0,0,0,0,0,NaN
2,Standing-Stock,Clean Virginia Waterways/Longwood University,09-19-2016,Year 3,United States,VA,VA Beach,6074,164,18,...,0,0,0,0,0,0,0,0,0,NaN
3,Standing-Stock,Clean Virginia Waterways/Longwood University,09-19-2016,Year 3,United States,VA,VA Beach,6075,164,19,...,0,0,0,0,0,0,0,0,2,NaN
4,Standing-Stock,Clean Virginia Waterways/Longwood University,09-28-2016,Year 3,United States,VA,Accomack,6185,170,3,...,0,0,0,0,0,0,0,0,12,NaN

In [5]:
raw_data.columns

Index(['Survey Type', 'Organization', 'Date', 'Survey Year', 'Country',
       'State', 'County', 'Survey ID', 'MDMAP ID #', 'Transect ID',
       'Shoreline Name', 'Latitude Start', 'Longitude Start', 'Latitude End',
       'Longitude End', 'Slope', 'Width', 'Length', 'Start Time', 'End Time',
       'Time of Low Tide', 'Database Season', 'Season', 'Storm Activity',
       'Current Weather', 'Number of Persons Assisting', 'Large Items?',
       'Debris Behind Back Barrier?', 'Datasheet Version', 'Notes', 'Photos?',
       'Plastic', 'Hard Plastic Fragments', 'Foamed Plastic Fragments',
       'Filmed Plastic Fragments', 'Food Wrappers', 'Plastic Beverage Bottles',
       'Other Jugs/Containers', 'Bottle/Container Caps', 'Cigar Tips',
       'Cigarettes', 'Disposable Cigarette Lighters', '6-Pack Rings', 'Bags',
       'Plastic Rope/Net', 'Buoys & Floats', 'Fishing Lures & Line', 'Cups',
       'Plastic Utensils', 'Straws', 'Balloons Mylar',
       'Personal Care Products', 'Plastic Other', 'Metal', 'Aluminum/Tin Cans',
       'Aerosol Cans', 'Metal Fragments', 'Metal Other', 'Glass',
       'Glass Beverage Bottles', 'Jars', 'Glass Fragments', 'Glass Other',
       'Rubber', 'Flip Flops', 'Rubber Gloves', 'Tires', 'Balloons Latex',
       'Rubber Fragments', 'Rubber Other', 'Processed Lumber',
       'Cardboard Cartons', 'Paper and Cardboard', 'Paper Bags',
       'Lumber/Building Material', 'Processed Lumber Other', 'Cloth/Fabric',
       'Clothing & Shoes', 'Gloves (non-rubber)', 'Towels/Rags',
       'Rope/Net Pieces (non-nylon)', 'Fabric Pieces', 'Cloth/Fabric Other',
       'Unclassified', 'Total', 'Debris Description'],
      dtype='object')

In [53]:
OCPDS = pd.read_csv('Ocean_Plastics_dataset_schemas.csv')

In [54]:
OCPDS.head()

,These are the columns we want in the final files (i.e. the output of each script).,Unnamed: 1
0,NaN,NaN
1,Column name,Description
2,X,Longitude
3,Y,Latitude
4,FID,"Feature ID defined by ArcGIS (once compiled, A..."

In [57]:
OCPDS.iloc[2:,:1]

   These are the columns we want in the final files (i.e. the output of each script).
2                                                   X
3                                                   Y
4                                                 FID
5                                    RecordSequenceID
6                                            UniqueID
..                                                ...
80                                             Count_
81                                        Soft_sheets
82                              Other_StrapsTiesBands
83                                   Other_Glowsticks
84                                       OtherFishing

[83 rows x 1 columns]

In [42]:
#dropping columns, how to rename them?
OCPDS = OCPDS.drop(['Unnamed: 1'], axis=1)
OCPDS.head()

  These are the columns we want in the final files (i.e. the output of each script).
0                                                NaN
1                                        Column name
2                                                  X
3                                                  Y
4                                                FID

In [51]:
OCPDS_columns = OCPDS.loc[2]
OCPDS_columns
#OCPDS_column_names = OCPDS[2:]

These are the columns we want in the final files (i.e. the output of each script).    X
Name: 2, dtype: object

In [ ]:
help()

In [35]:
OCPDS[1:]

,These are the columns we want in the final files (i.e. the output of each script).,Unnamed: 1
1,Column name,Description
2,X,Longitude
3,Y,Latitude
4,FID,"Feature ID defined by ArcGIS (once compiled, A..."
5,RecordSequenceID,"Record Sequence ID, numbered order within each..."
...,...,...
80,Count_,"This records each entry as one entry, this is ..."
81,Soft_sheets,"Total number of soft plastic, sheet as counted..."
82,Other_StrapsTiesBands,"Total number of other plastic, straps, ties or..."
83,Other_Glowsticks,"Total number of other plastic, glowsticks cle..."
84,OtherFishing,"Total number of other plastic, fishing as cou..."

In [15]:
OCPDS[]

SyntaxError: invalid syntax (<ipython-input-15-f81984ca8d1f>, line 1)

In [ ]:
column_names = ['X','Y','FID'']

In [ ]:
df1 = ['X','Y',]

#indexing using pandas, 
df.iloc[:,33]